@model SimpleLogin.Models.Profile
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="container">

    @using (@Html.BeginForm("Register","Profile",null,FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.ValidationMessageFor(profile => profile.Name)
        @Html.ValidationMessageFor(profile => profile.Age)
        
        <h2 class="form-signin-heading">Please sign in</h2>

        <label asp-for="Id" class="input-group "></label>
        <input type="text" class="input-group form-control" asp-for="Id" />

        <label asp-for="Name" class="input-group "></label>
        <input type="text" class="input-group form-control" asp-for="Name" />

        <label asp-for="Age" class="input-group "></label>
        <input type="text" class="input-group form-control" asp-for="Age" />

        <label></label>
        <button type="submit" class="input-group btn btn-success">Register</button>
    }
</div>





